{
    "extends": "eslint-config-egg",
    "rules": {
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "no-cond-assign": ["error", "always"],
        "one-var": "off", // ["error", "never"]
        "init-declarations": "off",
        "no-console": "off",
        "no-inline-comments": "off",
        "quotes": ["error", "single"],
        "object-curly-spacing": ["error", "always"]
    }
}
